@page "/"

<h2>Bienvenido al sistema E-Migrant</h2>

<a href="movies/create" class="btn btn-info btn-sm mb-3">Registrar Nuevo Migrante</a>

<a href="categories/create" class="btn btn-info btn-sm mb-3">Registrar Nueva Institución</a>
