@page "/movies"
@using proyFinal_g63.Client.Services
@using proyFinal_g63.Client.Pages.Components
@inject IServiceMovie movie

<h3>Bienvenido Migrante</h3>

<a href="movies/create" class="btn btn-info btn-sm mb-3">Inscribir Nuevo Migrante</a>


@code{




}
